{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry: {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit Entry: {{ title }}</h1>

    <form action="{% url 'encyclopedia:edit' title %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">Content (Markdown)</label>
            <textarea class="form-control" name="content" rows="10" required>{{ content }}</textarea>  <!-- Pre-populated textarea -->
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
{% endblock %}