{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-lg-3 col-md-4"> <!-- Adjusted width of the sidebar -->
                <h2>Wiki</h2>
                <form action="{% url 'encyclopedia:search' %}" method="GET" class="search input-group mb-3">
                    <input class="form-control" type="text" name="q" placeholder="Search Entry" required>
                    <div class="input-group-append">
                        <button type="submit" class="btn-primary">Search</button>
                    </div>
                </form>
                <div>
                    <a href="{% url 'encyclopedia:index' %}" class="btn btn-link">Home</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:create' %}" class="btn btn-link">Create New Page</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:random' %}" class="btn btn-link">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-9 col-md-8"> <!-- Adjusted width of main content area -->
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>